{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">
  <title>Online Food</title>


  <meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">



  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<table align="center" border="2" width="100%">
    <tr>

        <th style="background:#ffdecf;color: blue;font-size: 65px; text-align: center;
font-family: 'Agency FB'"><a href="{% url 'main' %}">σиℓιиє fσσ∂ ѕєяνι¢є
        </a> </th>
    </tr>
    <tr>
        <th>
            {% block common %}
            {% endblock %}
        </th>
    </tr>
</table>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static '/dist/js/adminlte.min.js' %}"></script>


